{% extends 'template.html' %}
{% block title %}
    Add Expense
{% endblock %}

{% block body %}
<form action="{%  url 'money:add' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <fieldset>
            <legend>Expense Details</legend>
            <label>Expense Name: </label>
            <input type="text" name="expenseName" />
            <label>Expense Cost: </label>
            <input type="text" name="expenseCost" />
        </fieldset>
    </div>
    <div class="row">
        <div>
            <input class="btn btn-primary" type="submit" value="Add Expense" />
        </div>
    </div>
</form> 
{% endblock %}